
       
       .form{
        display: flex;
        justify-content: center;
        align-items: center;

       }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10rem;
            height: 50vh;
            width: 25rem;
              box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
              border: .2rem solid rgb(94, 83, 133);

        }

        label{
             color:blue;
             border-radius: 5px;
             margin-bottom: 1rem;
             font-size: 1.5rem;
             font-weight: 600;    
}

        input {
            padding: 10px;
            border-radius: 5px;
            transform-style: preserve-3d;
            border: 2px solid #3b8df2;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            color: black;
}

        input::placeholder {
            color:black;
        }

      

        input[type='submit'] {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #3b8df2;
            font-size: 16px;
            cursor: pointer;
            transform-style: preserve-3d;
            transform: rotateX(-10deg);
            transition: all 0.3s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            margin-bottom: 3rem;
        }

      

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}


.text-msg {
  text-align: center;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  max-width: 25rem;
  height: 50vh;
}

.text-msg h1 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  color: #333333;
}

.text-msg p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555555;
  margin: 0;
}
 .text-msg p a{
    color: blue;
    text-decoration: none;
 }

@media (max-width: 37.5rem) {
  .text-msg {
    padding: 0.9375rem;
    max-width: 22.5rem;
  }

  .text-msg h1 {
    font-size: 1.375rem;
  }

  .text-msg p {
    font-size: 0.875rem;
  }
}
