<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->

   <title> Restaurant {% block title %}
    
   {% endblock title %}</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" type="image/png" href="{% static  'images/fav.png' %}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

   <link href="{% static 'css/s.css' %}" rel="stylesheet">
   <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
   <style>
      .active{
         color: #f76d37 !important;
      }
   </style>
</head>

<body>
   <!--header section start -->

   <nav class="navbar navbar-expand-lg new_navbar bg-transparent" data-bs-theme="dark">
      <div class="container-fluid nav-container">
         <a class="navbar-brand brand-logo" href=""><b>M</b>OMOS</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
    <!-- Home link -->
    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
    <!-- About Us link -->
    <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About Us</a>
</li>
<li class="nav-item">
    <!-- Our Menu link -->
    <a class="nav-link {% if request.path == '/menu/' %}active{% endif %}" href="{% url 'menu' %}">Our Menu</a>
</li>
<li class="nav-item">
    <!-- Our Services link with corrected path -->
    <a class="nav-link {% if request.path == '/service/' %}active{% endif %}" href="{% url 'service' %}">Our Services</a>
</li>


            </ul>
            <div class=" d-flex justify-content-center text-align-center px-3 py-1 gap-3">
               {% if request.user.is_authenticated %}
                 
               <a href="{% url 'log_out' %}"><button type="button" class="btn btn-danger">Logout</button></a>
                 {% else %}
               <a href="{% url 'log_in' %}"><button type="button" class="btn btn-primary">SignIn</button></a>
               <a href="{% url 'register' %}"><button type="button" class="btn btn-danger">SignUp</button></a>
               {% endif %}
            </div>

            <div class="icon_ho">
               <a href="https://www.facebook.com/profile.php?id=100078644620461" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </div>

            <a href="{% url 'contact' %}"><button class="custom-btn btn-1">Contact Us</button></a>

            <!-- <form class="d-flex" role="search">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Search</button>
             </form> -->
         </div>
      </div>
   </nav>

{% block content %}
  
{% endblock content %}

    <!-- footer section start -->
    <div class="footer_section layout_padding" data-aos="fade-up" data-aos-duration="1000">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <h3 class="useful_text">About</h3>
               <p class="footer_text">We at <b style="font: bold;">MOMOS</b> are passionate about bringing you 
                  the authentic taste of Nepal through our momos. Made with fresh, high-quality 
                  ingredients and following traditional recipes, 
                  our momos are bursting with flavor and sure to tantalize your taste buds. </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h3 class="useful_text"><b style="color: #f76d37;">M</b>OMOS</h3>
               <div class="footer_menu">
                  <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="">About Us</a></li>
                     <li><a href="">Our Menu</a></li>
                     <li><a href="">Our Services</a></li>
                     <li><a href="">Contact Us</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h3 class="useful_text">Legals</h3>
               <div class="footer_menu">
                  <ul>
                     <li><a href="#">Terms and conditions</a></li>
                     <li><a href="#">Privacy</a></li>
                     <li><a href="#">Policy</a></li>
                     <li><a href="#">Support</a></li>
                  </ul>
               </div>
            </div>

            <div class="col-lg-3 col-sm-6">
               <h1 class="useful_text">Contact Us</h1>
               <div class="location_text">
                  <ul>
                     <li>
                        <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address :
                              damauti-9, udayapur</span>
                        </a>
                     </li>
                     <li>
                        <a href="tel:+9779815719436">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call :
                              +9779815719436</span>
                        </a>
                     </li>
                     <li>
                        <a href="mailto:kingstonboysagar@gmail.com">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email :
                               kingstonboysagar@gmail.com</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">{{date}}copyright © 2024 by Sagar Thapa| All rights reserved<a href="#">Sagar</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
   crossorigin="anonymous"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
   integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
   crossorigin="anonymous"></script>
   
   <script src=""></script>

   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script>
     AOS.init();
   </script>

   <!-- sidebar -->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
<script src="{% static 'js/s.js' %}"></script>

   <script src="https://kit.fontawesome.com/b52396679f.js" crossorigin="anonymous"></script>

</body>

</html>