{% extends "base.html" %}
{% block title %}
  |Contact
{% endblock title %}
{% block content %}
{% load static %}

<!-- contact section start -->
<div class="contact_section layout_padding">
   <div class="container">
      <h1 class="contact_text">Our Contact</h1>
      <p class="pin">GET IN TOUCH</p>
      <p class="pin"><span style='color:red'>Our Friendly Team </span>would love to hear from you</p>

   </div>
</div>


<div class="services_section_2">
   <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4">
         <div class="box_main">
            <div class="house_icon">
            </div>
            <h3 class="decorate_text"><i class="fa-sharp fa-solid fa-location-dot"></i>LOCATION</h3>
            <p class="tation_text">damauti-9,udayapur, Nepal</p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4">
         <div class="box_main">
            <div class="house_icon">
            </div>
            <h3 class="decorate_text"><i class="fa-solid fa-phone"></i>PHONE</h3>
            <p class="tation_text">Mobile:(+977) 9815719436</p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-4">
         <div class="box_main">
            <div class="house_icon">
            </div>
            <h3 class="decorate_text"><i class="fa-solid fa-envelope"></i>EMAIL</h3>
            <p class="tation_text">Email: kingstonboysagar@gmail.com </p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
      </div>


      <div class="contact_section_2 layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_0">
                  <div class="form-container form-container-1">
                     <form method="#" action="#">
                        <h1 style="color: white; font-size: 50px; border-bottom: 3px solid #f76d37;"
                           class="text-center"><b>GET IN TOUCH</b></h1>

                        <div class="form-container">
                           <div class="form">
                              <input required="" placeholder="Name" type="text" class="input" name="name">
                              <input required="" placeholder="Email" type="email" class="input" name="email">
                              <input required="" placeholder="Phone Number" type="tel" class="input" name="phone">
                              <textarea required="" placeholder="Say Hello" rows="10" cols="30" id="message"
                                 name="message" class="textarea"></textarea>
                              <div class="button-container">
                                 <input type="submit" value="send" class="send-button">
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>

               </div>
               <div class="col-md-6 padding_0">
                  <div class="map-responsive">
                     <h1 style="color: black; font-size: 50px;" class="text-center"><b>OUR LOCATION</b></h1>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28271.385395995967!2d85.30681893018455!3d27.657848525765967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
        1!3m3!1m2!1s0x39eb175804d46333%3A0x407a3f6860e99df2!2sImadol%2C%20Mahalaxmi!5e0!3m2!1sen!2snp!4v1711573181565!5m2!1sen!2snp" 
        width="300px" height="400px"  allowfullscreen="" loading="lazy"></iframe>

                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock content %}

