
    <h2>Thank You for Contacting Us!</h2>
    <hr class="divider">
    
    <p>We appreciate you reaching out. Our team has received your message, and we'll get back to you as soon as possible. Here's a summary of your submission:</p>
    
    <hr class="divider">
    
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Phone:</strong> {{ phone }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
    
    <hr class="divider">
    
    <p>If your inquiry is urgent, you can reach us at +9779815719436. Otherwise, we will respond via email shortly.</p>
    
    <hr class="divider">
    
    <p>Best regards,</p>
    <p>Microsoft
            {{date1}}
    </p>

